.contacts {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}
.contacts__caption {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 9px;
}
.contacts__subtitle {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: "Intro Script R H2 Base";
  margin-bottom: 9px;
}
.contacts__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-bottom: 12px;
}
.contacts__fio {
  width: 280px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 11px;
  font-size: 14px;
  color: #d3d3d3;
  margin-bottom: 10px;
  border: none;
}
.contacts__mail {
  width: 280px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 11px;
  font-size: 14px;
  color: #d3d3d3;
  margin-bottom: 10px;
  border: none;
}
.contacts__question-area {
  width: 280px;
  min-height: 120px;
  padding-top: 14px;
  padding-left: 11px;
  font-size: 14px;
  color: #d3d3d3;
  margin-bottom: 20px;
  border: none;
  resize: none;
}
.contacts__button {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 226px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  border-radius: 33px/30px;
  color: white;
  border: none;
  background-color: #f50049;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 10px 30px -6px #f50049;
  }
}
.contacts__text {
  width: 245px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  margin-bottom: 21px;
  &:first-child {
    margin-bottom: 0;
  }
}
.contacts__list {
  display: flex;
  margin-top: 13px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contacts__item {
  margin-right: 31px;
  &:last-child {
    margin-right: 0;
  }
}
.contacts__item-svg:hover {
  border-radius: 31px;
  box-shadow: 0 5px 20px -5px #f50049;
}
@media (min-width: 768px) {
  .contacts {
    width: 768px;
    padding-left: 47px;
    padding-bottom: 110px;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
    background-image: url("../img/contacts_tablet.png");
    background-position: 0px 290px;
    background-repeat: no-repeat;
  }
  .contacts__caption {
    font-size: 28px;
    text-align: left;
  }
  .contacts__subtitle {
    font-size: 22px;
  }
  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }
  .contacts__input-block {
    display: flex;
    flex-direction: column;
    width: 350px;
  }
  .contacts__text {
    width: 270px;

    font-size: 14px;
  }
  .contacts__button {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 14px;
    width: 160px;

    font-size: 14px;
  }
  .contacts__input-block .contacts__text {
    margin-bottom: 15px;
  }
  .contacts__fio, .contacts__mail, .contacts__question-area {
    width: 346px;
  }
}
@media (min-width: 1366px) {
  .contacts {
    width: 1366px;
    padding-left: 74px;
    padding-bottom: 105px;
    margin-left: auto;
    margin-right: auto;

    box-sizing: border-box;
    background-image: url("../img/contacts_desktop.png");
    background-position: 460px 290px;
    background-repeat: no-repeat;
  }
  .contacts__caption {
    font-size: 40px;
  }
  .contacts__subtitle {
    margin-bottom: 20px;
    font-size: 35px;
  }
  .contacts__text {
    width: 100%;
    font-size: 20px;
  }
  .contacts__input-block {
    width: 560px;
    margin-right: 75px;
  }
  .contacts__fio, .contacts__mail, .contacts__question-area {
    width: 100%;

    color: #000000;

    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c9bcbb;
  }
  .contacts__question-area {
    min-height: 0;
    margin-bottom: 80px;
  }
  .contacts__button {
    margin: 0;
    padding-top: 17px;
    padding-bottom: 16px;
    width: 180px;
    margin-bottom: 150px;

    font-size: 19px;
  }
  .contacts__wrapper {
    display: flex;
    justify-content: flex-start;
  }
}
